body {
  background: #2196f3;
  background: -webkit-linear-gradient(to right, #f44336, #2196f3);
  background: linear-gradient(to right, #f44336, #2196f3);
}
.mainBody {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}
.center {
  margin: 0 auto;
}

.header {
  color: white;
  padding-top: 100px;
  padding-bottom: 20px;
}

.container {
  text-align: center;
}

form {
  padding: 20px 0 50px 0;
}

.arrow {
  color: white;
}

.input {
  min-width: 250px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.button {
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.button:active {
  position: relative;
  top: 1px;
}

.repoContainer {
  height: auto;
  width: 50%;
  padding: 5px 5px;
  margin: 5px auto;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repoContainer:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}

.repoContainer:active {
  position: relative;
  top: 1px;
}

.commitListItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "avatar commitDetails";
  height: auto;
  width: 50%;
  margin: 10px auto;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #1c70eb;
  border: 1px solid #337fed;
  border-radius: 6px;
  color: #ffffff;
  padding: 6px 24px;
}

.avatarImage {
  max-height: 100%;
  max-width: auto;
}

.avatarContainer {
  grid-area: avatar;
}

.itemContainer {
  grid-area: commitDetails;
}

.repoPageHeader {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: "button header";
}

.backButton {
  grid-area: button;
  width: fit-content;
  margin: auto;
}

.repoHeader {
  grid-area: header;
}

@media only screen and (max-width: 768px) {
  .avatarImage {
    margin-top: 10px;
    max-height: 50px;
    max-width: auto;
  }
}
